@use "../abstracts" as core;

.btn {
  @include core.flexposition(row, center, center);
  min-height: 2.75rem;
  padding: 0.85rem 1.2rem;
  border: 0;
  border-radius: core.get-border(3);
  background-color: core.color(secondary);
  color: core.color(primary);
  cursor: pointer;
  font-weight: core.weight(semibold);
  @include core.hover-elevado(-5px);

  &:focus {
    outline: core.get-border(2) solid core.color(quaternary);
    outline-offset: 3px;
  }

  &--secondary {
    border: core.get-border(2) solid core.color(primary);
    background-color: core.color(secondary);
    color: core.color(primary);
  }

  &--menu {
    background-color: core.color(tertiary);
  }

  &--active {
    background-color: core.color(quaternary);
  }

  &--logo {
    background-color: core.color(logo);
  }
}
