@use "../abstracts" as core;

.card {
  display: grid;
  justify-items: center;
  gap: 1rem;
  min-height: 200px;
  padding: 1.25rem;
  background-color: core.color(primary);
  color: core.color(secondary);
  font-family: "Jersey 10";
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  @include core.hover-elevado(-2px);
  
  h2{
    font-family: "Macondo",cursive;
  }

  @include core.border_radius;

  @include core.media(medium) {
    padding: 1.5rem;
  }

  p {
    line-height: 1.5;
  }
}
