@use "../abstracts" as core;

.cards {
  padding: 1.25rem 0.75rem;

  @include core.grid-flexible(15rem, 1rem);

  @include core.media(medium) {
    padding-inline: 1rem;
    @include core.grid-flexible(17rem, 1.25rem);
  }

  @include core.media(large) {
    max-width: 1200px;
    margin: 0 auto;
  }

  &_title{
      grid-column: 1 / -1;
      margin: 0 0 1rem;
      font-family: "Macondo", cursive;
      font-size: 2rem;
      text-align: center;
      color: core.color(primary);

      @include core.media(medium) {
        font-size: 2.4rem;
      }
  }
}
