@use "../abstracts" as core;

.imagen {
  width: 100%;
  height: 18rem;
  object-fit: contain;

  @include core.media(medium) {
    height: 22rem;
  }

  @include core.media(large) {
    height: 24rem;
  }
}

.logo{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  transition: filter 0.3s ease, transform 0.3s ease;

  @include core.media(medium) {
    width: 5rem;
    height: 5rem;
  }
  &:hover{
    filter: brightness(0) saturate(100%) invert(44%) sepia(99%) saturate(715%) hue-rotate(91deg) brightness(95%) contrast(90%);
      transform: scale(1.1);
  }
}
